# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# ========================
# Environment
# ========================
.env
.env.*

# ========================
# Alembic
# ========================
*.db

# ========================
# Node / React
# ========================
node_modules/
dist/
.vite/

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Docker
# ========================
docker-data/